{%load static%}
<div>
    <div class="flex justify-center pt-4">
        <div class="text-white flex flex-col md:flex-row justify-between w-full lg:w-[90%]">
            <div class="flex-1 pt-4 pb-18 px-12 md:px-4">
                <img src="{% static '/images/header-logo.png'%}" alt="" class="h-12">
                <p class="text-sm text-white/85 font-medium text-justify w-[80%]">Lorem ipsum, dolor sit amet
                    consectetur
                    adipisicing elit. Quas, sint aut. Sed quae id autem blanditiis ea
                    neque veniam natus, in voluptatem dicta rerum.</p>
            </div>
            <div class="flex-1 pt-4 pb-18 px-12 md:px-4">
                <div class="flex flex-col gap-2">
                    <p class=" text-white/85 font-medium">Subscribe to get important update</p>
                    <input type="text" name="subcribe-email" id="subscribe-email" placeholder="Your Email"
                        class="font-medium w-[250px] text-black bg-white py-2 px-4 rounded">
                    <button
                        class="px-4 py-2 text-white font-medium bg-violet-500 w-fit rounded shadow ">Subscribe</button>
                </div>
            </div>
            <div class="flex-1 pt-4 pb-18 flex flex-col gap-1 justify-between px-12 md:px-4">
                <div class="flex flex-col gap-1.5">
                    <p class="text-sm font-medium">Follow us</p>
                    <div class="flex gap-2.5 pt-2">
                        <a href="" class="border px-[6px] py-1 rounded-full hover:bg-white hover:text-black">
                            <i class="fa-brands fa-github-alt"></i>
                        </a>
                        <a href=""  class="border px-[6px] py-1 rounded-full hover:bg-white hover:text-black">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href=""  class="border px-[6px] py-1 rounded-full hover:bg-white hover:text-black">
                            <i class="fa-solid fa-toolbox"></i>
                        </a>
                    </div>
                </div>
                <div class="pt-4">
                    <p class="text-sm font-medium text-white/85">Call Us</p>
                    <p class="text-sm font-medium text-white/85">+91 8417814745</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col-reverse md:flex-row justify-around border-t text-white/85 pt-2 pb-4 items-center text-sm gap-3.5">
        <p>Copyright @2025 Nikhil Pathak All rights reserved</p>
        <div class="flex flex-row justify-between md:flex-col md:w-fit w-[80%]">
            <a href="{%url 'cart'%}">Cart</a>
            <a href="{%url 'dashboard'%}">Accounts</a>
        </div>
    </div>
</div>