{% load compress %}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="shortcut icon" href="{% static 'title.png'%}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .no-scrollbar::-webkit-scrollbar
        {
            display: none;
        }
    </style>
    {%block scripts%}{%endblock scripts%}
</head>

<body style="font-family: Montserrat;">
    <header class="bg-[#061129] text-white">
        {%include "./includes/header.html"%}
    </header>
    {%block body%}
    {%endblock body%}
    <footer class="bg-[#061129]">
        {%include "./includes/footer.html"%}
    </footer>
    
</body>

</html>